<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://8055aa5508.blogspot.com/" target="_blank" title="8055aa's blogspot">My Blogspot</a></li>
      <li><a href="https://github.com/8055aa" target="_blank" title="Thomas Yang's github">GitHub</a></li>
    </ul>
</div>
